<%= render :partial => '/sessions/form' %>

<ul>
  <li>
<!--    <%= link_to "Registrar-se", sign_up_path %> 
  </li>
  <li>
-->
    <%= link_to "Esqueceu sua senha ?", new_password_path %>
  </li>
</ul>
